* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f8f9fc;
    color: #333;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #ffffffd9;
    backdrop-filter: blur(5px);
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.nav-menu a:hover {
    color: #007bff;
}

/* HERO */
.hero {
    height: 90vh;
    background: url('img/bg.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.role {
    color: #000000;
    margin-bottom: 20px;
}

.btn {
    background: #007bff;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.section {
    padding: 80px 40px;
    text-align: center;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
}

.text {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

.bg-light {
    background: #ffffff;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.skill-card {
    padding: 15px;
    background: #eef3ff;
    border-radius: 8px;
    font-weight: 600;
}

/* PROJECTS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
